body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    background-color: grey;
}

#divContainerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

#divDica{
    display: flex;
    font-size: 30px;
    margin-bottom: 10px;
}

#divImagem{
    display: flex;
}

#divPalavraSecreta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 40px;
}

#divTeclado{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

#linha1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#linha2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#linha3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#linha1 button, #linha2 button, #linha3 button {
    font-size: 34px;
}

.btn-acerto {
    background-color: green;
    color: white;
}

.btn-erro {
    background-color: red;
    color: white;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    z-index: 9998;
    transform: scale(1.0);
}

.notificationGanhou {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 10vh;
    width: 62vh;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 9999;
    display: none;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.notificationPerdeu {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 10vh;
    width: 62vh;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 9999;
    display: none;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.reiniciarJogo{
    margin-top: 5px;
    font-size: 30px;
    border-radius: 10px;
}


@media (max-width: 532px) {
    body {
        transform: scale(0.95);
    }
    .overlay {
        transform: scale(1.05);
    }
}

@media (max-width: 507px) {
    body {
        transform: scale(0.90);
    }
    .overlay {
        transform: scale(1.111);
    }
}

@media (max-width: 471px) {
    body {
        transform: scale(0.85);
    }
    .overlay {
        transform: scale(1.176);
    }
}

@media (max-width: 447px) {
    body {
        transform: scale(0.80);
    }
    .overlay {
        transform: scale(1.25);
    }
}

@media (max-width: 418px) {
    body {
        transform: scale(0.75);
    }
    .overlay {
        transform: scale(1.333);
    }
}

@media (max-width: 394px) {
    body {
        transform: scale(0.70);
    }
    .overlay {
        transform: scale(1.428);
    }
}

@media (max-width: 374px) {
    body {
        transform: scale(0.65);
    }
    .overlay {
        transform: scale(1.538);
    }
}