body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;

}

#divContainerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;


    flex-direction: column;

    
}

#divDica{
    display: flex;
    font-size: 30px;
    margin-bottom: 10px;
}

#divImagem{
    display: flex;

}

#divPalavraSecreta{
    display: flex;
    justify-content: center;
    align-items: center;
}

#divTeclado{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;

}

#linha1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#linha2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#linha3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#linha1 button, #linha2 button, #linha3 button {
    font-size: 34px;
}